.headerhi{
    animation: oHi 0.5s;
}
.headerBy{
    animation: buttonBy 0.5s;
}
header{
    display: block;
    position: fixed;
    z-index: 10;
}
header > nav{
    position: fixed;
    top: 60px;
    left: 300px;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 750px;
}
nav > article >img:first-child{
    width: 170px;
}
#icon{
    width: 180px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#appDownload{
    display: none;
    width: 150px;
}
#icon > img{
    width: 30px;
}

#scroll{
    position: fixed;
    bottom: 0;
    left: 700px;
    width: 80px;
    margin-bottom: 20px;
}

@keyframes buttonBy {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}
.buttonby{
    animation: buttonBy 0.8s;
}
#rider-button-pc{
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 12;
}
@keyframes oHi {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.ohi{
    animation: oHi 0.8s;
}
#o{
    display: none;
    flex-direction: column;
    height: 260px;
    width: 26px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 10%;
    bottom: 180px;
}
#o > img{
    cursor: pointer;
    width: 12px;
}